body {
  font-family: "Open Sans", sans-serif;
}
.header {
    padding: 20px 90px 90px 90px;
    display: inline-flex;
}
.btn-container {
    margin-left: 1000px;
}
.btn {
    width: 200px;
    height: 40px;
}
.v-line {
    width: auto;
    height: 0px;
    border: 1px solid black;
    margin-top: -80px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 20px;
}

.item-container {
    padding: 40px 1px 10px 100px;
    margin-left: 100px;
    float: left; 
}
.item { 
    width: 250px;
    height: 200px;
    border: 1px solid black;
    
} 
 
.product_form {
    margin-top: 70px;
    margin-left: 100px;
    display: block;
    width: 600px;
    height: 400px;
    padding: 20px;
}
.label-form {
    font-family:serif;
    font-size: 20px;
    padding: 10px;
    padding-right: 55px;
}
.labelname-form {
    font-family:serif;
    font-size: 20px;
    padding: 10px;
    padding-right: 48px;   
}
#DVD { 
    display: block;
    background-color: whitesmoke;
    height: 200px;
    width: 400px;
    margin-left: 100px; 
    margin-top: 20px; 
} 
#DVD p {
    margin-left: 20px;
}
#Furniture {
    display: none;
    background-color: whitesmoke;
    height: 250px;
    width: 400px;
    margin-left: 100px;
    margin-top: 20px;
}
#Furniture p{
    margin-left: 20px;
}
.md-input {
    margin-left: 5px;
}
.last-input { 
    margin-left: -2px;
}
#Book {
    display: none;
    background-color: whitesmoke;
    height: 200px;
    width: 400px;
    margin-left: 100px;
    margin-top: 20px;
}
#Book p {
    margin-left: 20px;
}
p {
    font-family: cursive;
    font-size: 17px;
    text-align: center;
    
}
.delete-checkbox {
    margin-left: 12px;
    margin-top: 12px;
    width: 20px;
    height: 18px;
}
.error-message {
    font-size: 12px;
    padding-top: -10px;
    margin: -21px -11px -10px 130px;
    color: red;
}